header{
    background-color: #2A2627;    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      nav {
        padding: 1.25em 0;
        a {
          font-size: 1.2em;
          color: beige;
          margin-right: 1em;
        }
      }
    }
    img{
        width: 14.875em;
    }
}