section.home{
    margin-top: 0;
}
.hero{
    background-image: url('https://res.cloudinary.com/dbfuiddgm/image/upload/v1602354594/black-books/books-bg_uqe66u.jpg');
    color: beige;
    font-size: 3em;
    padding: 3em;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: bottom center;
}