// plate colors:

$clr1: #fff;
$clr2:#dddddd; //the grey border of the box 
$clr3: #595959;
$clr4: #000000f2;
$clr5: #FF385C;
$clr6: #d52f4d;
// $clr7: #67AAF9;
// $clr8: #D8E9FD;
$clr7: #729EA1;
$clr8: #B6CCCE;
// Fonts
$titleFont: 'Noto Sans JP', sans-serif !important;
$bodyFont: 'Noto Sans JP', sans-serif !important;


// Breakpoints:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;