// plate colors:

$clr1: #7fdbda;
$clr2:#faebd7;
$clr3:rgba(166, 166, 166, 0.1);
$clr4: #febf63;
$clr5: #dff0ea;
$clr6: #fff;
$clr7:#dddddd; //the grey border of the box 
$clr8: #595959;
$clr9: #000000f2;
$clr12: #ff385c;
$clr13: #000000F2;
$clr14: #00000026;
$clr15: #999; //grey
$clr16: rgba(0,0,0,0.05);
$clr12darker: #d4003d;

// Fonts
$titleFont: 'Noto Sans JP', sans-serif !important;
$bodyFont: 'Noto Sans JP', sans-serif !important;
$clr17: #0000001f;


// Breakpoints:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;