.btn {
    border: 0 none;
    border-radius: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    &.btn-small {
        color: $clr1;
        max-width: 459px;
        padding: 10%;
        background-color: $clr3;
        font-size: 0.8em;
    }
    &.btn-bordered {
        font-weight: bold;
        padding: 0.5em 0.7em;
        color: $clr4;
        border: 2px solid $clr3;
        background-color: $clr1;
    }
    &.action-btn {
        font-size: 1.2em;
        border: none;
        background-color: $clr5;
        color: $clr1;
        padding: 0.4em 0.9em;
        font-weight: bold;
        border-radius: 5px;
        svg{
            fill: $clr3;
            margin-right: 0.3em;
        }
    }
    &.btn-right {
        float: right;
    }
    &.btn-left {
        float: left;
    }
    &.remove-btn{
        font-size: 0.8em;
    }

}