.btn {
    border: 0 none;
    border-radius: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    white-space: nowrap;
    &.btn-small {
        color: $clr6;
        max-width: 459px;
        padding: 10%;
        background-color: $clr12;
        font-size: 0.8em;
    }
    &.btn-bordered {
        font-weight: bold;
        padding: 0.5em 0.7em;
        color: $clr9;
        border: 2px solid $clr12;
        background-color: $clr6;
    }
    &.action-btn {
        border: $clr12 solid 2px;
        background-color: $clr6;
        color: $clr9;
        padding: 0.3em 0.8em;
        display: flex;
        font-weight: bold;
        border-radius: 5px;
        svg{
            fill: $clr12;
            margin-right: 0.3em;
        }
    }
    &.btn-right {
        float: right;
    }
    &.btn-left {
        float: left;
    }

}